<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/login.js}"></script>
</th:block>


<th:block layout:fragment="main">
    <header class="navbar">
        <div class="nav-left">
            <a th:href="@{/mainPage}" class="logo">EngJoy</a>
        </div>

        <nav class="menu">
            <a th:href="@{#}">게임</a>
            <a th:href="@{#}">단어장</a>
            <a th:href="@{/serviceInfo}">서비스 소개</a>
            <a th:href="@{/gameInfo}">게임 소개</a>
        </nav>

        <div class="nav-right" sec:authorize="isAuthenticated()">
            <span th:text="'닉네임: ' + ${nickname}"></span>
            <a th:href="@{/myPage}">마이페이지</a>
            <a th:href="@{/logout}">로그아웃</a>
        </div>
        <div class="nav-right" sec:authorize="isAnonymous()">
            <a th:href="@{/login}">로그인</a>
        </div>
    </header>


    <div id="wrapper">

        <h2>로그인</h2>
        <div id="container">
            <form th:action="@{/login}" method="post">

                <div>
                    <input type="email" name="username" style="border-radius: 10px;" placeholder="이메일을 입력하시오"><br>
                    <input type="password" name="password" style="border-radius: 10px;" placeholder="비밀번호를 입력하시오">
                </div>
                <div id="btn">
                    <input type="submit" value="로그인하기">
                </div>
                <div th:if="${error}" th:text="${error}" id="error" style="color:red; margin-top:10px;"></div>
            </form>


        </div>
        <div id="link">
            <a th:href="@{/agree}">회원가입</a>
            /
            <a th:href="@{/passwordSearch}">비밀번호 찾기</a>

        </div>
    </div>


</th:block>
</html>