<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
</th:block>

<th:block layout:fragment="script"></th:block>


<th:block layout:fragment="main">
    <header class="navbar">
        <div class="nav-left">
            <a th:href="@{/mainPage}" class="logo">EngJoy</a>
        </div>

        <nav class="menu">
            <a th:href="@{#}">게임</a>
            <a th:href="@{#}">단어장</a>
            <a th:href="@{/serviceInfo}">서비스 소개</a>
            <a th:href="@{/gameInfo}">게임 소개</a>
        </nav>

        <div class="nav-right" sec:authorize="isAuthenticated()">
            <span th:text="'닉네임: ' + ${nickname}"></span>
            <a th:href="@{/myPage}">마이페이지</a>
            <a th:href="@{/logout}">로그아웃</a>
        </div>
        <div class="nav-right" sec:authorize="isAnonymous()">
            <a th:href="@{/login}">로그인</a>
        </div>
    </header>
    <div id="container">
        <h1>외우지 말고, 플레이 하세요!<br>당신의 영어는 게임 속에 있습니다.</h1><br>

        <p>영어 공부, 아직도 '외우니?' 난 '사냥해!'</p>
    </div>

    <div>
        <img src="" alt="battleImage" class="battle-image">
    </div>
</th:block>
</html>