<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
</th:block>

<th:block layout:fragment="script"></th:block>


<th:block layout:fragment="main">

    <div class="flex-1 flex flex-row items-center justify-between gap-8 px-8 ">
        <div id="container" >
            <h1>외우지 말고, 플레이 하세요!<br>당신의 영어는 게임 속에 있습니다.</h1><br>

            <p>영어 공부, 아직도 '외우니?' 난 '사냥해!'</p>
        </div>

        <div>
            <img src="" alt="battleImage" class="battle-image">
        </div>
    </div>
</th:block>
</html>