<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragment/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/myPage.css}">
</th:block>



<th:block layout:fragment="script"></th:block>


<th:block layout:fragment="main">
    <div id="wrapper">

        <div id="container">
            <!-- 왼쪽 프로필 -->
            <div id="profile">
                <img src="char.png" class="char-img">
                <p class="nickname"></p>
                <p class="email"></p>
                <a th:href="@{/myInfoChange}"><button class="edit-btn">개 인 정 보 수 정</button></a>
            </div>

            <!-- 오른쪽 랭킹/업적 -->
            <div id="info">
                <h3 class="section-title">마이랭킹</h3>
                <div class="line"></div>
                <div id="myranking">
                    <div class="score-box">점수:</div>
                    <span></span>
                    <div class="score-box">순위:</div>
                    <span></span>
                </div>

                <h3 class="section-title">업적</h3>
                <div class="line"></div>
                <div class="achievement">
                    <p><span></span></p>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>