<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EngJoy</title>


    <th:block layout:fragment="css"></th:block>
</head>
<body>
<th:block layout:fragment="main"></th:block>

<th:block layout:fragment="script"></th:block>
</body>
</html>
