#container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    margin: 50px auto;
    background-color: whitesmoke;
    margin-top: 90px;

}




#check{
   width: 90px;
   height: 40px;
   background-color: #00cc66;
   color: white;
   border: none;
   border-radius: 5px;
   box-shadow: 3px 3px rgba(0,0,0,0.1);;
}


.login a{
    color: white;
    text-decoration:none;
}



#wrapper{
  margin-top:120px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f3e46;
  height: 90px;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  color: #00cc66;
  font-size: 32px;
  font-weight: bold;
  font-family: '맑은 고딕', sans-serif;
  text-decoration: none;
  line-height: 90px;
}

.menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 80px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 90px;
}

.nav-right {
  padding-right: 90px;
  text-align: right;
}

.nav-right a, .nav-right span {
  color: white;
  text-decoration: underline;
  margin-left: 10px;
  font-size: 16px;
  line-height: 90px;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


