.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f3e46;
  color: white;
  padding: 0px 40px;
  height: 90px;
  position: fixed; /* 상단에 고정되게 */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* 다른 요소 위에 올라오게 */
}

/* 로고 스타일 */
.navbar .logo {
    color: #00cc66;
    font-size: 32px;
    font-weight: bold;
    font-family: '맑은 고딕', sans-serif;
    text-decoration: none;
    line-height: 90px;
    margin-right: 40px;
    /* 또는 margin-left: 40px;으로 설정 */
}


/* 메뉴 정렬 */
.menu {
  display: flex;
  gap: 80px;
}

/* 메뉴 링크 */
.menu a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 90px;
}


.nav-right .login-button{
  text-decoration: none;
  color: white;
  font-size: 16px;;
  line-height: 90px;

}

.nav-right{
  padding-right:90px;
  text-decoration: underline;
  text-align: right;
}


.nav-right a {
  color: white;
  text-decoration: underline;
  margin-left: 10px;
  font-size: 16px;
}





    .moving{
        color:white
    }